{% extends 'base.html' %}

{% block header %}
  {% if ClanData %}
    <div class="col-auto">
      <h1><a href="/claninfo?ClanTag={{ ClanData["tag"][1:] }}"><img src="{{ ClanData['badgeUrls']['small'] }}" alt=coc>{% block title %}{{ ClanData["name"] }}{% endblock %}</a></h1>
    </div>
    <div class="col-auto">
      <a href="/currentwar?ClanTag={{ ClanData["tag"][1:] }}"><button type="button" class="btn btn-info">CurrentWar</button></a>
      {% if ClanData['isWarLogPublic'] %}
      <a href="/clanwarlog?ClanTag={{ ClanData["tag"][1:] }}"><button type="button" class="btn btn-info">ClanWarLog</button></a>
      {% endif %}
      <button type="submit" form="myForm" class="btn btn-info" name="clanprogress">ClanProgress</button>
      <a href="/supertroops?ClanTag={{ ClanData["tag"][1:] }}"><button type="button" class="btn btn-info">SuperTroops</button></a>
      <a href="/clanwarleague?ClanTag={{ ClanData["tag"][1:] }}"><button type="button" class="btn btn-info">Clan War League (local)</button></a>
      <a href="/clantroops?ClanTag={{ ClanData["tag"][1:] }}"><button type="button" class="btn btn-info">Troops</button></a>
    </div>
    </p>
    <div class="col-auto">
      <form action="/clanprogress" method="post" id="myForm">
        <input type="hidden" name="ClanTag" value="{{ ClanData["tag"][1:] }}" />
        <input class="form-control" list="achievements" name="achievement" id="achievement" value="{{ ClanData['clanprogress']['name'] }}{% for achievements in ClanData['achievements'] %}{% if achievements['name'] == ClanData['clanprogress']['name']%} : {{ achievements['info'] }}{% endif %}{% endfor %}">
        <button type="submit" form="myForm" class="btn btn-info" name="refresh">refresh</button>
        <datalist id="achievements">
          <option value="attackWins">
          <option value="donations">
          <option value="donationsReceived">
          {% for achievements in ClanData['achievements'] %}
          <option value="{{ achievements['name'] }} : {{ achievements['info'] }}">
          {% endfor %}
        </datalist>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% if ClanData %}
  <div class="table">
    <table class="table-troops">
      <tbody>
        <tr>
          <th class="td-progressname" style="z-index : 9999; position: sticky; top: 0;"><label>{{ ClanData['clanprogress']['name'] }}</label></th>
          {% for historyDate in ClanData['clanprogress']['history'] %}
          <th class="td-playerprogress" style="position: sticky; z-index: 9998; top: 0;"><label>{{ historyDate[-5:] }}</label></th>
          {% endfor %}
        </tr>
        {% for Member in ClanData["memberList"] %}
          <tr>
            <th class="td-playerprogress"><a href="/player?PlayerTag={{ Member["tag"][1:] }}">{{ Member["name"] }}</a></th>
            {% for historyDate in ClanData['clanprogress']['history'] %}
            <td class="td-playerprogress">{{ Member['clanprogress'][historyDate] }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}
