{% extends 'base.html' %}

{% block header %}
  {% if ClanData %}
  {% set formatted_clantag = ClanData['tag'][1:] %}

    <div class="d-flex align-items-center mb-3">
      <a href="{{ url_for('clan_bp.get_clan_details', clan_tag=formatted_clantag) }}" class="text-decoration-none d-flex align-items-center">
        <img src="{{ ClanData['badgeUrls']['small'] }}" alt={{ ClanData['name'] }} class="me-3">
        <h1>{% block title %}{{ ClanData["name"] }}{% endblock %}</h1>
      </a>  
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
      <a href="{{ url_for('clan_bp.display_currentwar', clan_tag=formatted_clantag) }}" 
         class="btn btn-secondary btn-sm{% if not ClanData['isWarLogPublic'] %} disabled{% endif %}">Current War</a>
      <a href="{{ url_for('clan_bp.display_war_log', clan_tag=formatted_clantag) }}" 
         class="btn btn-secondary btn-sm{% if not ClanData['isWarLogPublic'] %} disabled{% endif %}">War Log</a>
      <a href="{{ url_for('clan_bp.display_clan_progress', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Clan Progress</a>
      <a href="{{ url_for('clan_bp.supertroops', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Super Troops</a>
      <a href="{{ url_for('cwl_bp.display_cwl_info', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">CWL (local)</a>
      <a href="{{ url_for('clan_bp.display_clan_troops', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Troops</a>

      <a href="https://www.clashofstats.com/clans/{{ formatted_clantag }}/history/past-members" class="btn btn-outline-info btn-sm"
        target="_blank" rel="noopener noreferrer">Past Members<i class="bi bi-box-arrow-up-right ms-1"></i></a>

    </div>
  {% else %}
    <div class="alert alert-info text-center" role="alert">
        Clan data is unavailable.
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if ClanData %}
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th class="text-center">League</th>
            <th></th>
            <th class="text-center">Member</th>
            <th class="text-center">Role / warPref</th>
            <th class="text-center">Donated</th>
            <th class="text-center">Received</th>
            <th class="text-center">AttackWins</th>
            <th class="text-center">Past CWL Stats</th>
          </tr>
        </thead>
        <tbody>
          {% for member in ClanData['memberList'] %}
            <tr>
              <td class="text-center">
                <img height=40px width=40px src="{{ member['leagueTier']['iconUrls']['small'] }}" 
                alt="{{ member['leagueTier']['name'] }}" class="img-fluid"></td>
              <td class="text-center"><img height=40px width=40px src="{{ url_for('static', filename='1_' + member['townHallLevel']|string + '.png') }}" 
                         alt="{{ member['townHallLevel'] }}" class="img-fluid"></td>
              <td>
                <a href="{{ url_for('player_bp.display_player_info', player_tag=member['tag'][1:]) }}" class="text-decoration-none">
                  <strong>{{ member['name'] }}</strong></br>
                  <small class="text-muted">{{ member["tag"] }}</small></a></td>
              <td class="text-center {% if member["warPreference"] == "in" %}table-success{% else %}table-danger{% endif %}">
                  {% if member["role"] == "admin" %}Elder{% else %}{{ member["role"] }}{% endif %}
                {% if member["warPreference"] == "in" %}
                  <span class="badge bg-success"><i class="bi bi-check-circle-fill"></i> In War</span> {# Bootstrap icon example #}
                {% elif member["warPreference"] == "out" %}
                  <span class="badge bg-danger"><i class="bi bi-x-circle-fill"></i> Out of War</span>
               {% endif %}
              </td>
              <td class="text-center">{{ member["donations"] }}</td>
              <td class="text-center">{{ member["donationsReceived"] }}</td>
              <td class="text-center">{{ member['attackWins'] }}</td>
              <td class="text-center"><a href="https://clashspot.net/en/player/{{ member["tag"][1:] }}/war-statistics/home-village?type=cwl&month=6" 
                      target="_blank" rel="noopener noreferrer" class="btn btn-outline-info btn-sm">CWL Stats</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
