{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}&#32085;&#22320;&#36870;&#35186;&#23478;&#26063;{% endblock%}</h1>
{% endblock %}

{% block content %}
  {% if ClanData %}
    <div class="table-responsive">
      <table class="table table-hover table-striped align-middle">
        <tbody>
          {% for ClanUnit in ClanData %}
            {% set formatted_clantag = ClanUnit['tag'][1:] %}
            <tr>
                <td class="text-center"><img src="{{ ClanUnit['badgeUrls']['small'] }}" alt="{{ ClanUnit['name'] }}" class='img-fluid'></td>
                <td class="text-center"><a href="{{ url_for('claninfo', ClanTag=formatted_clantag ) }}" class="text-decoration-none">
                      <strong>{{ ClanUnit["name"] }}</strong></br>
                      <small class="text-muted">{{ ClanUnit["tag"] }}</small></a></td>
                <td class="text-center"><i class="bi bi-people-fill me-1"></i>{{ ClanUnit["members"]}}</td>
              <td class="text-center">{{ ClanUnit["warLeague"]["name"] }}</td>
              <td class="text-center">
                <div class="d-grid d-md-flex gap-1 justify-content-md-center">
                    <div class="dropdown">  
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    ClanWar
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('currentwar', ClanTag=formatted_clantag) }}">CurrentWar</a></li>
                    {% if ClanUnit['isWarLogPublic'] %}
                    <li><a class="dropdown-item" href="{{ url_for('clanwarlog', ClanTag=formatted_clantag) }}">ClanWarLog</a></li>
                    {% endif %}
                  </ul>
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    CWL (External)
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://www.clashofstats.com/clans/{{ formatted_clantag }}/wars/cwl/current/cards"
                            target="_blank" rel="noopener noreferrer">ClashOfStats</a></li>
                    <li><a class="dropdown-item" href="https://clashspot.net/en/clan/{{ formatted_clantag }}/clan-war-leagues/home-village"
                            target="_blank" rel="noopener noreferrer">ClashSpot</a></li>
                  </ul>
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    CWL (local)
                  </button>
                  <ul class="dropdown-menu">
                    {% for season in ClanUnit['CWLlist'] %}
                    <li><a class="dropdown-item" href="{{ url_for('clanwarleague', ClanTag=formatted_clantag, Season=season ) }}">{{ season }}</a></li>
                    {% endfor %}
                  </ul>
                    </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="text-muted text-center">No clan data found.</p>
  {% endif %}
{% endblock %}
