{% extends 'base.html' %}

{% block header %}
  {% if ClanWar %}
    {% if ClanWar['state'] != 'notInWar' %}
    {% set formatted_clantag = ClanWar['clan']['tag'][1:] %}

    <div class="d-flex align-items-center mb-3">
      <a href="{{ url_for('clan_bp.get_clan_details', clan_tag=formatted_clantag) }}" class="text-decoration-none d-flex align-items-center">
        <img src="{{ ClanWar['clan']['badgeUrls']['small'] }}" alt="{{ ClanWar['name'] }} badge" class="me-3" style="max-height: 60px;">
        <h1>{% block title %}{% if ClanWar %}{{ ClanWar['clan']['name'] }}{% endif %} Clan War{% endblock %}</h1></a>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
      <a href="{{ url_for('clan_bp.display_currentwar', clan_tag=formatted_clantag) }}" 
        class="btn btn-primary btn-sm active">Clan War</a>
      <a href="{{ url_for('clan_bp.display_war_log', clan_tag=formatted_clantag) }}"
        class="btn btn-secondary btn-sm{% if not ClanWar['isWarLogPublic'] %} disabled{% endif %}">War Log</a>
      <a href="{{ url_for('clan_bp.display_clan_progress', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Clan Progress</a>
      <a href="{{ url_for('clan_bp.supertroops', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Super Troops</a>
      <a href="{{ url_for('cwl_bp.display_cwl_info', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">CWL (local)</a>
      <a href="{{ url_for('clan_bp.display_clan_troops', clan_tag=formatted_clantag) }}" class="btn btn-secondary btn-sm">Troops</a>

      <a href="https://www.clashofstats.com/clans/{{ formatted_clantag }}/history/past-members" class="btn btn-outline-info btn-sm"
        target="_blank" rel="noopener noreferrer">Past Members<i class="bi bi-box-arrow-up-right ms-1"></i></a>
    </div>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        Not in Clan War.
    </div>
    {% endif %}
  {% else %}
    <div class="alert alert-info text-center" role="alert">
        Clan War data is unavailable.
    </div>

  {% endif %}
{% endblock %}

{% block content %}
  {% if ClanWar %}
    {% if ClanWar['state'] != 'notInWar' %}
    {#########################}
    {# Clan War Summary Card #}
    {#########################}
    <div class="card mb-4">
      <div class="card-header h5">War Overview</div>
      <div class="card-body">
        <dl class="row mb-0">
          <dt class="col-sm-3">Team Size:</dt>
          <dd class="col-sm-9">{{ ClanWar['teamSize'] }}</dd>

          <dt class="col-sm-3">Status:</dt>
          <dd class="col-sm-9"><span class="badge bg-{{ 'success' if ClanWar['state'] == 'inWar' else 'warning' }}">{{ ClanWar['state']|capitalize }}</span></dd>
              
          <dt class="col-sm-3">End Time (UTC+0):</dt>
          <dd class="col-sm-9">
            {{ ClanWar['endTime'] | format_coc_time }} UTC-0
            {#{% set end_time_str = ClanWar['endTime'] %}#}
            {#{% if end_time_str|length >= 15 %}#}
            {#  {{ end_time_str[6:8] }}/{{end_time_str[4:6] }}/{{ end_time_str[:4] }}&nbsp;{{ end_time_str[9:11] }}:{{ end_time_str[11:13] }}#}
            {#{% else %}#}
            {#  N/A#}
            {#{% endif %}#}
          </dd>
        </dl>
      </div>
    </div>

    <h2 class="h5 mb-3">War Score</h2>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th><img src="{{ ClanWar['clan']['badgeUrls']['small'] }}" alt="{{ ClanWar['clan']['name'] }} badge" 
                    class="me-1" style="height: 25px;"> {{ ClanWar['clan']['name'] }}</th>
            <th></th>
            <th><img src="{{ ClanWar['opponent']['badgeUrls']['small'] }}" alt="{{ ClanWar['opponent']['name'] }} badge"
                    class="me-1" style="height: 25px;"> {{ ClanWar['opponent']['name'] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="{{ 'table-success' if ClanWar['clan']['stars'] > ClanWar['opponent']['stars'] else 
                     ('table-danger' if ClanWar['clan']['stars'] < ClanWar['opponent']['stars'] else '') }}">
            <td class="text-center">
              Clan Level: <span class="badge bg-secondary">{{ ClanWar['clan']['clanLevel'] }}</span><br/>
              Attacks: <span class="badge bg-info">{{ ClanWar['clan']['attacks'] }}</span><br/>
              Stars: <span class="badge bg-primary">{{ ClanWar['clan']['stars'] }}</span><br/>
              Destruction: <span class="badge bg-success">{{ "%.1f"|format(ClanWar['clan']['destructionPercentage']) }}%</span>
            </td>
            <td>
              <span class="h4">VS</span>
            </td>
            <td class="text-center">
              Clan Level: <span class="badge bg-secondary">{{ ClanWar['opponent']['clanLevel'] }}</span><br/>
              Attacks: <span class="badge bg-info">{{ ClanWar['opponent']['attacks'] }}</span><br/>
              Stars: <span class="badge bg-primary">{{ ClanWar['opponent']['stars'] }}</span><br/>
              Destruction: <span class="badge bg-success">{{ "%.1f"|format(ClanWar['opponent']['destructionPercentage']) }}%</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {#################################}
    {# Clan Member Performance Table #}
    {#################################}
    <h2 class="h5 mb-3">Clan Member Performance</h2>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th class="text-nowrap"># / Clan Member</th>
            <th class="text-nowrap" colspan="2">{{ ClanWar['clan']['name'] }} Attacks</th>
            <th class="text-nowrap"># / Opponent</th>
            <th class="text-nowrap" colspan="2">{{ ClanWar['opponent']['name'] }} Attacks</th>
          </tr>
          <tr>
            <th></th>
            <th>Attack 1</th>
            <th>Attack 2</th>
            <th></th>
            <th>Attack 1</th>
            <th>Attack 2</th>
          </tr>
        </thead>
        <tbody>
          {# Loop through team members by map position #}
          {% for i in range(1,ClanWar['teamSize']+1) %}
            <tr>
              {# Clan Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;
                <img src="{{ url_for('static', filename='1_' + ClanWarTeam['clan'][i]['townhallLevel']|string + '.png') }}" 
                  alt="TH{{ ClanWarTeam['clan'][i]['townhallLevel'] }}" class="me-1" height=30px width=30px> 
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['clan'][i]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['clan'][i]['name'] }}</a>
              </td>

              {# clan Member Attack 1 #}
              {% if ClanWarTeam['clan'][i]['attacks'] and ClanWarTeam['clan'][i]['attacks'][0] %}
                {% set attack = ClanWarTeam['clan'][i]['attacks'][0] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.defenderTag]['tag'][1:]) }}" 
                     class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;
                     <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.defenderTag]['townhallLevel']|string + '.png') }}"
                          alt="TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                     {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}</a><br/>
                  <small>
                    {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# clan Member Attack 2 #}
              {% if ClanWarTeam['clan'][i]['attacks']|length > 1 %}
                {% set attack = ClanWarTeam['clan'][i]['attacks'][1] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.defenderTag]['tag'][1:]) }}" 
                     class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;
                     <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.defenderTag]['townhallLevel']|string + '.png') }}"
                          alt="TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                     {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}</a><br/>
                  <small>
                    {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# Opponent Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;
                <img src="{{ url_for('static', filename='1_' + ClanWarTeam['opponent'][i]['townhallLevel']|string + '.png') }}"
                     alt="TH{{ ClanWarTeam['opponent'][i]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['opponent'][i]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['opponent'][i]['name'] }}</a>
              </td>

              {# Opponent Member Attack 1 #}
              {% if ClanWarTeam['opponent'][i]['attacks'] and ClanWarTeam['opponent'][i]['attacks'][0] %}
                {% set attack = ClanWarTeam['opponent'][i]['attacks'][0] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.defenderTag]['tag'][1:]) }}"
                    class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;
                    <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.defenderTag]['townhallLevel']|string + '.png') }}"
                         alt="TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                    {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}</a><br/>
                  <small>
                    {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# Opponent Member Attack 2 #}
              {% if ClanWarTeam['opponent'][i]['attacks']|length > 1 %}
                {% set attack = ClanWarTeam['opponent'][i]['attacks'][1] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.defenderTag]['tag'][1:]) }}"
                    class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;
                    <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.defenderTag]['townhallLevel']|string + '.png') }}"
                         alt="TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                    {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}</a><br/>
                  <small>
                    {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {##############################}
    {# Clan War Best Attack Table #}
    {##############################}
    <h2 class="h5 mb-3">Clan War Best Attacks</h2>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th class="text-nowrap"># / Clan Member</th>
            <th class="text-nowrap">Best Opponent Attack</th>
            <th class="text-nowrap"># / Opponent</th>
            <th class="text-nowrap">Best Opponent Attack</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(1,ClanWar['teamSize']+1) %}
            <tr>
              {# Clan Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;
                <img src="{{ url_for('static', filename='1_' + ClanWarTeam['clan'][i]['townhallLevel']|string + '.png') }}"
                     alt="TH{{ ClanWarTeam['clan'][i]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['clan'][i]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['clan'][i]['name'] }}</a>
              </td>

              {# Opponent Best Attack #}
              {% if ClanWarTeam['clan'][i]['bestOpponentAttack'] %}
                {% set attack = ClanWarTeam['clan'][i]['bestOpponentAttack'] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.attackerTag]['tag'][1:]) }}"
                     class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.attackerTag]['mapPosition'] }}.&nbsp;
                     <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.attackerTag]['townhallLevel']|string + '.png') }}"
                          alt="TH{{ ClanWarTeam['player'][attack.attackerTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                     {{ ClanWarTeam['player'][attack.attackerTag]['name'] }}</a><br/>
                  <small>
                    {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# Opponent Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;
                <img src="{{ url_for('static', filename='1_' + ClanWarTeam['opponent'][i]['townhallLevel']|string + '.png') }}"
                     alt="TH{{ ClanWarTeam['opponent'][i]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['opponent'][i]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['opponent'][i]['name'] }}</a>
              </td>

              {# Opponent Best Attack #}
              {% if ClanWarTeam['opponent'][i]['bestOpponentAttack'] %}
                {% set attack = ClanWarTeam['opponent'][i]['bestOpponentAttack'] %}
                <td class="text-start text-nowrap">
                  <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack.attackerTag]['tag'][1:]) }}"
                     class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack.attackerTag]['mapPosition'] }}.&nbsp;
                     <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack.attackerTag]['townhallLevel']|string + '.png') }}"
                          alt="TH{{ ClanWarTeam['player'][attack.attackerTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                     {{ ClanWarTeam['player'][attack.attackerTag]['name'] }}</a><br/>
                   <small>
                     {% for j in range(0, attack.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                     <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                   </small>
                </td>
              {% else %}<td></td>{% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {#######################}
    {# Clan War Attack Log #}
    {#######################}
    <h2 class="h5 mb-3">Clan War Attack Log</h2>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th class="text-nowrap">{{ ClanWar['clan']['name'] }}</th>
            <th class="text-nowrap">attack 1</th>
            <th class="text-nowrap">attack 2</th>
            <th class="text-nowrap">{{ ClanWar['opponent']['name'] }}</th>
            <th class="text-nowrap">attack 1</th>
            <th class="text-nowrap">attack 2</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(1,ClanWar['teamSize']+1) %}
            <tr>
              {# Clan Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;/&nbsp;TH{{ ClanWarTeam['clan'][i]['townhallLevel'] }}&nbsp;/&nbsp;
                {{ ClanWarTeam['clan'][i]['name'] }}
              </td>

              {# clan Member Attack 1 #}
              {% if ClanWarTeam['clan'][i]['attacks'] and ClanWarTeam['clan'][i]['attacks'][0] %}
                {% set attack = ClanWarTeam['clan'][i]['attacks'][0] %}
                <td class="text-start text-nowrap">
                  {{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;/&nbsp;
                  TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}&nbsp;/&nbsp;
                  {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}&nbsp;/&nbsp;
                  <small>
                    {{ attack.stars }}&nbsp;Stars
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# clan Member Attack 2 #}
              {% if ClanWarTeam['clan'][i]['attacks']|length > 1 %}
                {% set attack = ClanWarTeam['clan'][i]['attacks'][1] %}
                <td class="text-start text-nowrap">
                  {{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;/&nbsp;
                  TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}&nbsp;/&nbsp;
                  {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}&nbsp;/&nbsp;
                  <small>
                    {{ attack.stars }}&nbsp;Stars
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# Opponent Member Info #}
              <td class="text-start text-nowrap">
                {{ i }}.&nbsp;/&nbsp;TH{{ ClanWarTeam['opponent'][i]['townhallLevel'] }}&nbsp;/&nbsp;
                {{ ClanWarTeam['opponent'][i]['name'] }}
              </td>

              {# Opponent Member Attack 1 #}
              {% if ClanWarTeam['opponent'][i]['attacks'] and ClanWarTeam['opponent'][i]['attacks'][0] %}
                {% set attack = ClanWarTeam['opponent'][i]['attacks'][0] %}
                <td class="text-start text-nowrap">
                  {{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;/&nbsp;
                  TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}&nbsp;/&nbsp;
                    {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}
                  <small>
                    {{ attack.stars }}&nbsp;Stars
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}

              {# Opponent Member Attack 2 #}
              {% if ClanWarTeam['opponent'][i]['attacks']|length > 1 %}
                {% set attack = ClanWarTeam['opponent'][i]['attacks'][1] %}
                <td class="text-start text-nowrap">
                  {{ ClanWarTeam['player'][attack.defenderTag]['mapPosition'] }}.&nbsp;/&nbsp;
                  TH{{ ClanWarTeam['player'][attack.defenderTag]['townhallLevel'] }}&nbsp;/&nbsp;
                  {{ ClanWarTeam['player'][attack.defenderTag]['name'] }}
                  <small>
                    {{ attack.stars }}&nbsp;Stars
                    <span class="mx-1">/</span>{{ "%.1f"|format(attack.destructionPercentage) }}%
                  </small>
                </td>
              {% else %}<td></td>{% endif %}
            </tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {##################################}
    {# Clan War Attack Sequence Table #}
    {##################################}
    <h2 class="h5 mb-3">Clan War Attack Sequence</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover text-center align-middle" id='seq'>
        <thead>
          <tr>
            <th class="text-nowrap">Sequence</th>
            <th class="text-nowrap" colspan="2">{{ ClanWar['clan']['name'] }}</th>
            <th class="text-nowrap" colspan="2">{{ ClanWar['opponent']['name'] }}</th>
          </tr>
          <tr>
            <th></th>
            <th>Attacker</th>
            <th>Target</th>
            <th>Attacker</th>
            <th>Target</th>
          </tr>
        </thead>
        <tbody>
          {% for i in ClanWarTeam['orderSeq'] %}
            {% set attack_data = ClanWarTeam['order'][i] %}
            <tr>
              <td>{{ i }}</td>
              {% if attack_data.team == 'opponent' %}
                <td></td><td></td>
              {% endif %}
              <td class="text-start text-nowrap">
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack_data.attackerTag]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack_data.attackerTag]['mapPosition'] }}.&nbsp;
                   <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack_data.attackerTag]['townhallLevel']|string + '.png') }}"
                        alt="TH{{ ClanWarTeam['player'][attack_data.attackerTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                   {{ ClanWarTeam['player'][attack_data.attackerTag]['name'] }}</a>
              </td>
              <td class="text-start text-nowrap">
                <a href="{{ url_for('player_bp.display_player_info', player_tag=ClanWarTeam['player'][attack_data.defenderTag]['tag'][1:]) }}"
                   class="text-decoration-none text-body">{{ ClanWarTeam['player'][attack_data.defenderTag]['mapPosition'] }}.&nbsp;
                  <img src="{{ url_for('static', filename='1_' + ClanWarTeam['player'][attack_data.defenderTag]['townhallLevel']|string + '.png') }}"
                       alt="TH{{ ClanWarTeam['player'][attack_data.defenderTag]['townhallLevel'] }}" class="me-1" height=30px width=30px>
                  {{ ClanWarTeam['player'][attack_data.defenderTag]['name'] }}</a><br/>
                <small>
                  {% for j in range(0, attack_data.stars) %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}
                  <span class="mx-1">/</span>{{ "%.1f"|format(attack_data.destructionPercentage) }}%
                </small>
              </td>
              {% if attack_data.team == 'clan' %}
                <td></td><td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %} {# End of if ClanWar['stat'] != 'notInWar' #}
  {% endif %} {# End of if ClanWar #}
  {# dumpdata|safe #}
{% endblock %}

