<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="{{ url_for('clan_bp.clan') }}">ClashOfClans</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clan</a>
          <ul class="dropdown-menu">
            {% set clan_list = cocparm['cocinfo_clan_list'] %}
            {% for clan_tag, clan_name in clan_list.items() %}
              <li><a class="dropdown-item" href="{{ url_for('clan_bp.get_clan_details', clan_tag=clan_tag) }}">{{ clan_name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if ThisHTML == "clanwarlog" %}active{% endif %}" href="#">ClanWarLog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if ThisHTML == "clanwarleague" %}active{% endif %}" href="#">ClanWarLeague</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if ThisHTML == "player" %}active{% endif %}" href="#">Player</a>
        </li>
    </div>
  </div>
</nav>
