{% extends 'base.html' %}

{% block header %}
  {% if PlayerData %}
  {% set formatted_playertag = PlayerData['tag'][1:] %}

    <div class="d-flex align-items-center mb-3">
      <img src="{{ url_for('static', filename='1_' + PlayerData["townHallLevel"]|string + '.png') }}" 
        alt="TH{{ PlayerData["townHallLevel"] }}" class="me-3" style="max-height: 60px;">
      <h1>{% block title %}{{ PlayerData["name"] }}{% endblock %}</h1>
    </div>

    {# Buttons Group #}
    <div class="d-flex flex-wrap gap-2 mb-3">
      <a href="{{ url_for('player_bp.display_player_info', player_tag=formatted_playertag) }}" 
          class="btn btn-primary btn-sm">90 Days</a>
      <a href="{{ url_for('player_bp.display_player_progress', player_tag=formatted_playertag) }}" 
          class="btn btn-secondary btn-sm active" aria-current="page">Upgrade Progress</a>
      <a href="https://www.clashofstats.com/players/{{ formatted_playertag }}/history/log" class="btn btn-secondary btn-sm"
        target="_blank" rel="noopener noreferrer">History Log<i class="bi bi-box-arrow-up-right ms-1"></i></a>
    </div>
  {% else %}
    <div class="alert alert-info text-center" role="alert">
      Player data is not available.
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if PlayerData %}
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th class="text-nowrap">Upgrade Date</th>
            <th class="text-nowrap">Upgrade Item</th>
            <th class="text-nowrap">Level</th>
          </tr>
        </thead>
        <tbody>
          {% for upgradedate in PlayerData['upgradeprogress'].keys()|sort(reverse=True) %}
            {% for item_name, item_level in PlayerData['upgradeprogress'][upgradedate].items() %}
              <tr>
                <td class="text-nowrap">{{ upgradedate[5:] }}</td>
                <td class="text-nowrap">{{ item_name }}</td>
                <td class="text-nowrap">{{ item_level }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
